.section {
  position: relative;
  background-color: var(--color-surface-deep);
  height: 200px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.loop {
  color: var(--color-surface-deep);
}
